*{
    margin: 0;
    padding: 0;
}
#particles-js{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #101010;
}
.container{
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    user-select: none;
    transform: translate(-50%,-50%);
    width: max-content;

    text-align: center;
}
.container h1{
    font-size: 150px;
    font-weight: lighter;
    font-family: 'Ogg';
    text-transform: capitalize;
    color: #e0e0e0;
    line-height: 70%;
}

.container h1 span{
    font-size: 30px;
    font-family: 'Neutral Face';
    text-transform: uppercase;
}